* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
    padding: 8px;
    border-radius: 12px;
    color: black;
    background: white;
}

.list-container {

}

.item-list {
    width: 200px;
    border-radius: 12px;
    background: white;
    color: black;

}